# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Distribution / packaging
*.egg-info/
.eggs/
dist/
build/

# IDE / editor settings
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp
*.swp
*.DS_Store

# Local data
downloads/
uploads/

# Python dotenv files (if you use them for secrets)
.env.local
.env.production
.env.development

*cookies.txt
*.b64
